body {
    background-color: #18244c;
    color: white;
    display: flex;
    height: 100vh;
    margin: 0;
}

h3 {
    font: 900 78px/78px Roboto;
    margin: 0;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: auto;
}

.score-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 250px;
    background-color: black;
    font: 700 120px/120px Roboto;
    border-radius: 10px;
    margin-bottom: 40px;
    color: #f84f6c;
}

.increase-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3px;
    align-self: stretch;
}

.increase-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600 30px/30px Roboto;
    border: 2px solid lightgray;
    border-radius: 10px;
    height: 65px;
    cursor: pointer;
    color: lightgray;
}